<app-nav [titulo]="'Profesionales'" [subtitulo]="'Lista de datos'"></app-nav>

<div class="container mt-4">
    
            <div id="serviciosContainer" class="row g-4">
                <div *ngFor="let servicio of servicios" class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100 shadow-sm rounded-4">
                        <div class="card-body">
                            <p class="card-text mb-1"><strong>RUT:</strong>{{servicio.rut}}</p>
                            <p class="card-text mb-1"><strong>Nombre:</strong> {{servicio.nombre}}</p>
                            <p class="card-text mb-1"><strong>Rol:</strong> {{servicio.rol}}</p>
                            <p class="card-text"><strong>Departamento:</strong> {{servicio.departamento}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>